/*
    Quick Reference Styles:

        Theme colors:
            Dark Green:     rgb(39, 99, 89)     276359
            Medium Green:   rgb(142, 187, 167)  8EBBA7
            Light Green:    rgb(185, 205, 203)  B9CDCB
            Off White:      rgb(255, 253, 251)  FFFDFB
            Light Orange:   rgb(248, 165, 145)  F7A58F
            Dark Orange:    rgb(235, 110, 75)   EB6E4B

        Theme Fonts:
            Headings:           Cinzel      font-family: 'Cinzel', serif;
            SubHeadings & Body: Roboto      font-family: 'Roboto', sans-serif;
            Descriptions:       Quicksand   font-family: 'Quicksand', sans-serif;

        


*/


/*All pages:*/
body {
    background-color: rgb(255, 253, 251);
    font-family: 'Quicksand', sans-serif;
}

a:link {
    color: rgb(235, 110, 75);
    text-decoration: none;
}

a:hover {
    color: rgb(235, 110, 75);
    font-weight: 900;
}

a:visited {
    color: rgb(248, 165, 145);
    text-decoration: none;
    font-weight: 900;
}

a:active {
    color: rgb(39, 99, 89);
    font-weight: 900;
}

h1, h3, h5 {
    font-family: 'Cinzel', serif;
}

h2, h4, h6 {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}

/*Top Banner: */
.Logo {
    float: left;
    display: inline;
    margin-top: 0;
    padding-top: 0;
}

.jumbotron {
    background-color: rgb(185, 205, 203);
    color: black;
    font-weight: 500;
    min-height: 6.5em;
    height: 1vh;
    padding: 0;
    margin-bottom: 1em;
    white-space: nowrap;
}

h1 {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100vw;
    font-size: 3em;
}

.MyCart {
    display: inline-block;
    float: right;
    white-space: nowrap;
    margin-right: 5em;
}

#btnMyCart {
    color: white;
    background-color: rgb(235, 110, 75);
    border-radius: 1em;
    border-color: darkgray;
    padding: .10em;
    width: 10em;
    font-size: 1em;
    font-weight: 700;
    text-shadow: .032em .032em .04em #000000;
    margin-top: 1em;
}

#Home .Home, #About .About, #Item .Item, #Cart .Cart {
    font-weight: 900;
}

.navbar {
    color: rgb(235, 110, 75);
    display: inline-block;
    margin-left: 15em;
    font-size: 1.25em;
    text-shadow: .0325em .0325em .05em #000000;
}

/*Left Banner: */
.SideFilter h3 {
    color: rgb(142, 187, 167);
    text-shadow: none;
    font-size: 1.50em;
    margin-top: 2em;
}

.SideFilter {
    margin-top: 2em;
    color: rgb(248, 165, 145);
    font-size: 1.25em;
    text-shadow: .0325em .0325em .05em #000000;
    font-size: 1em;
    white-space: nowrap;
}

/*Images: */
.card {
    display: inline-block;
    text-align: center;
    max-width: 19%;
    margin: .25em;
}

.Body img {
    display: inline;
    box-shadow: 0 .3em .2em 0 rgba(0, 0, 0, 0.2), 0 .1em .5em 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1em;
}

/*Single Item page: */
.carousel {
    box-shadow: 0 .3em .2em 0 rgba(0, 0, 0, 0.2), 0 .1em .5em 0 rgba(0, 0, 0, 0.19);
}

.Thumbnail img {
    display: inline-block;
    width: 18%;
    margin-top: 1em;
}

.Original {
    display: inline-block;
    color: lightgray;
    text-decoration: line-through;
    font-size: 2em;
}

.Sale {
    display: inline-block;
    color: rgb(235, 110, 75);
    font-size: 2.5em;
}

/*About page: */
.AboutDesc h5 {
    color: white;
    text-shadow: .032em .032em .04em #000000;
    font-size: 2em;
}

.AboutDesc p {
    font-size: 1.25em;
    font-weight: 900;
}

.AboutDesc {
    background-color: rgb(142, 187, 167);
    border-radius: 1em;
    padding: 3em 5em;
    box-shadow: 0 .3em .2em 0 rgba(0, 0, 0, 0.2), 0 .1em .5em 0 rgba(0, 0, 0, 0.19);
    margin: 2em;
}

#Video {
    padding: 10em;
}

.Footer a {
    color: white;
    text-shadow: .032em .032em .04em #000000;
    font-size: 1.25em;
}

.Footer {
    background-color: rgb(39, 99, 89);
    color: white;
    text-shadow: .032em .032em .04em #000000;
    font-size: 1.25em;
    padding: 2em 0 2em 0;
}

hr {
    color: rgb(39, 99, 89);
    width: 75%;
    border-style: ridge;
    height: 5em;
}

/*Cart */
.CartStyles {
    background-color: white;
    color: rgb(39, 99, 89);
    border: .05em solid black;
    border-radius: 1em;
    padding: 2em;
    margin-right:2em;
}

#btnBuyNow {
    color: white;
    background-color: rgb(248, 165, 145);
    border-radius: .25em;
    border-color: darkgray;
    padding: .10em;
    width: 50%;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: .032em .032em .04em #000000;
    margin-top: 1em;
}

#btnContinueShopping {
    color: white;
    background-color: rgb(142, 187, 167);
    border-radius: .25em;
    border-color: darkgray;
    padding: .10em;
    width: 50%;
    font-size: 1.25em;
    font-weight: 700;
    text-shadow: .032em .032em .04em #000000;
    margin-top: 1em;
}
